[2013-03-11 17:54] rwcarlsen opened #3 "Change package name to "diff""
It is confusing and non-idiomatic to have the package name different from the last part of the import path.  People will import "github.com/[whoever]/go-diff/diff" and will then try to use the package as "diff", but the name is secretly "diffmatchpatch".  And Go package names are usually shorter.

[2013-05-28 04:58] fanan opened #4 "A DiffLinesToChars then DiffMain bug"
Here is the code:

[code]

DiffLinesToChars seems to work OK, however, it panics "index out of range" at runtime.

I want to diff two texts line by line, just the line level, not word or char.

Is this a bug or I used the library incorrectly?

Thanks

[2013-07-27 11:21] #3 closed, assigned to nobody

[2014-02-13 15:22] #4 closed, assigned to nobody

[2015-08-20 01:43] goors opened #20 "please add some example with actual diff file"
Can you add some example? What is input, what is output and so on? I am trying to parse diff --git but i am getting some **unexpected chunk line:**.

[2015-08-20 16:25] goors commented on #20
I copy/paste diff file and some characters were funny.
Now I get Src, Dst and so on.

But how to get diff?
<pre>
dat, err := ioutil.ReadFile("bin/a")

	if err != nil{
		log.Println(err)
	}

	parsed, err := patch.Parse(dat)

	if err != nil{
		log.Println(err)
	}

       for _, a := range parsed.File{

            a.Diff.Apply("what to put here")
       }

</pre>

[2015-08-20 18:22] #20 closed

[2015-08-22 05:23] shurcooL opened #21 "What is expected behavior when input is not valid utf8?"
I tried looking at the [docs](https://godoc.org/github.com/sergi/go-diff/diffmatchpatch) for this package, but the `DiffMain` method simply says:

So I'm not sure how it's supposed to handle input that contains invalid utf8 sequences.

Here's how it handles it right now:

[code]

Output:

[code]

In the case where input is not valid utf8, the length of output, in bytes, is not the same as input (1

[2016-03-06 02:14] petercolberg opened #26 "Rename github.com/stretchrcom → github.com/stretchr"
The github url for testify has been changed:
[code]
Could you update `diffmatchpatch/dmp_test.go` accordingly?

[2016-06-28 18:31] tkf opened #28 "Wrong patch is generated with DiffTimeout = 0"
I think the patch generated by the following code is wrong:

[code]

It generates:

[code]

However, the correct patch would be:

[code]

which is generated by setting `dmp.DiffTimeout = time.Hour`.  Note that C++ implementation (with timeout=0) also generates the latter patch.

[2016-06-28 18:59] tkf opened #29 "A bug in DiffText1"
With some texts, DiffText1 returns a wrong result. An example of such data is dmp.go of revision b94bf7 and b94bf7^. To see this, get text1.go (which just prints DiffText1) from https://gist.github.com/tkf/12bde871bf794e59bea88b659ed5b95b and run it as:

[code]

which pints

[code]

i.e., `dmp.DiffText1(diffs) != text1`.

The above gist also includes `text1.bash` which automates finding such examp

[2016-08-05 17:28] jeremejevs commented on #28
Setting `checklines` to `false` produces a correct patch. Don't know what the cause is, but from a quick glance at `diffCompute`, it seems that it makes no sense to have no deadline and `checklines` enabled at the same time, since they have contradictory effects (`DiffTimeout = 0` tells the lib to take its time and produce the best diff possible, while `checklines = true` tells it to compromise qu

[2016-08-05 17:30] jeremejevs commented on #29
There is `DiffTimeout = 0` commented out in the Gist. Which version of `text1.go` did you run, with timeout of `time.Hour` or `0`?

[2016-08-30 21:41] shatrugna opened #31 "Panic in PatchMake"
Hitting a slice bounds out of range panic

[code]
 Able to reproduce this by feeding ```(left=2016-09-01T03:07:14.807830741Z, right=2016-09-01T03:07:15.154800781Z)``` to ```PatchMake```.

Following diff being applied to left string:``` [{0 2016-09-01T03:07:1} {1 5.15} *{0 .154} {-1 .} {0 80} {1 0} {0 78} {-1 3074} {0 1Z}]```

while the diff being applied should have been ``` [{0 2016-09-01T03:07:1

[2016-09-05 12:24] zimmski opened #33 "Is this project dead?"
@sergi  I am wondering if this project is dead?

[2016-09-19 01:54] client9 commented on #33
I'm happy to work on a fork.  Anyone interesting in helping?

[2016-09-19 12:07] zimmski commented on #33
@client9: I am hesitating to make a fork because of the many problems that a fork entails. This repository has already ~200 stars. So it might be already well established. I would rather contribute to this repository by reviewing PRs, cleaning up and doing some enhancements here and there. So my plan would be to ask the original maintainer for his permission. What do you think?

[2016-09-19 18:30] client9 commented on #33
Oh yes @zimmski    If you can become an owner and keep this repo working, then that is best.  If not, then we need to do something else.

[2016-09-20 10:41] zimmski commented on #33
Since the owner seems unresponsive on GitHub, I will try to contact him via his mail address.

[2016-09-28 15:04] zimmski commented on #33
@client9: @sergi has accepted me as the second maintainer of go-diff. I will work on the following items starting this week:
- Reworking the repository to use TravisCI and Coveralls
- Reworking the repository to add build checks for gofmt, golint and govet
- Work down all open PRs
- Work down all open issues
- Reworking the repositories code without breaking the API
+- Including renaming and movin

[2016-09-28 15:04] #33 closed

[2016-10-06 23:13] client9 commented on #33
hi @zimmski  I've been busy traveling.   Good job!
I'm happy to help in any way you want.

[2016-10-12 21:11] jaytaylor opened #35 "Is this package abandonware?"
Currently seeing many open PR's with little or no discussion from @sergi.

Do we need to fork this to get all the excellent updates merged?

[2016-10-12 21:53] zimmski commented on #35
I talked with @sergi and he gave me contributor permissions on the repository. However, someone has to review my PRs. I am still waiting on his review so we can merge #34. After that I will review each open PR, and then adapt and merge them. #34 is needed because without a CI there would be no automatic testing new changes, and I do not want any surprises.

[2016-10-12 22:19] jaytaylor commented on #35
Roger that, thanks for the info.

Leaving this open so others can easily find this out!

[2016-10-17 08:44] zimmski commented on #35
I will close this issue now, since I have sufficient rights on the repository to move forward. However, I am in meetings for the next 2-3 days. I will start ASAP to work down PRs and issues. It is happening this week though since I still have booked hours :+1:

@jaytaylor: If you have any changes please just summit a PR :-)

[2016-10-17 08:44] #35 closed

[2016-10-17 08:46] zimmski commented on #35
Sidenote: This is a duplicate of #33

[2016-10-17 08:48] zimmski commented on #33
@client9: I have sufficient rights now but I will be in meeting for next 2-3 days. Will work on go-diff the rest of the week though. If you have any changes I would be happy to review them :-)

[2016-10-29 10:42] #31 closed

[2016-10-29 13:29] zimmski opened #38 "Go through all forks for additional changes"
There are a lot of forks https://github.com/sergi/go-diff/network which could have additional interesting changes.

Look through all known forks and all their branches (not just master) for changes and try to contact the authors to incorporate them back.

Known forks:
- [x] https://github.com/agileknight/go-diff
- [x] https://github.com/akovaski/go-diff
- [x] https://github.com/andreynering/go-dif

[2016-10-29 14:44] #26 closed

[2016-10-29 14:44] zimmski commented on #26
Thanks ;-)

[2016-10-29 18:52] zimmski commented on #21
I tested this on the latest master. The output is still the same.

@shurcooL: I guess what you mean is that the value for "diff text" should be the same as for "input"?

[2016-10-29 19:02] zimmski commented on #28
I tested your example with the latest master, it outputs

[code]

[2016-10-29 19:27] zimmski commented on #28
To be more verbose. I can confirm that with the old version you were probably using (i.e. bc2ef1260ca6e3888a54bae1bd3260b0aae53e52) the problem was still present, but now with the current master it is not. Please give it a whirl :-)

I can also confirm that the provided example and its patch make sense. I will add is as a test case and I will adapt the current deadline code because it does not mak

[2016-10-29 20:36] #28 closed

[2016-10-29 20:41] zimmski opened #43 "Refactor go-diff"
Rework the repository code without breaking the API
- [x] Rename and move files around
- [x] Convert the existing tests to solely table-driven tests
- [x] Split the code to be more maintainable
- [x] Update the README to be more user and contributor friendly
- [x] Try to make the repository more contributor attractive
- [x] When done, ask for being reviewed and ping sergi that I am done here

[2016-10-29 22:42] shurcooL commented on #21
I don't know if it should, but that would be one way of resolving the issue of this behavior being undocumented and unclear (I don't know if there's an issue or not here...).

The issue is that I don't know the answer to the following question:

[2016-10-31 18:44] zimmski commented on #29
Along the way, this got fixed. I tested this with the version you were probably using  bc2ef1260ca6e3888a54bae1bd3260b0aae53e52 and then with master:
[code]

Master does not output anything for your test case.

[2016-10-31 18:44] #29 closed

[2016-10-31 18:45] zimmski commented on #29
Thanks for reporting this! I will add a test case if there isn't already one.

[2016-10-31 19:32] zimmski commented on #29
The problem is only triggered with checklines=true

[2016-11-01 17:14] zimmski commented on #21
Let's work together by defining what should be done to resolve this issue, and I will implement it then. Does that sound OK to you?

I hardly encounter invalid utf8 (usually it is a transformation issue from one encoding to the other for me) but it is certainly the first time I need to handle it in Go. So I will document my findings a little for people who search the net with the same problem.

Fi

[2016-11-01 18:28] zimmski opened #45 "Make colors for DiffPrettyHtml and DiffPrettyText configureable per DiffMatchPatch instance"
Would it make sense to make the colors for inserting/deleting configurable?

[2016-11-01 18:31] zimmski commented on #38
https://github.com/agileknight/go-diff added a test case for showing colored diffs in a terminal.

[2016-11-01 18:43] zimmski opened #46 "Investigate if "concat is needed""
https://github.com/akovaski/go-diff/commit/a0c8f96cfc5c7ee619b3d18e7fbca09d21ce3000 had the idea of removing "concat" which reduces the code but it might be faster to have the functionality.

So, benchmark it. If the current concat is faster than just appending runes, document it. If not, remove it.

[2016-11-01 18:45] zimmski commented on #38
https://github.com/akovaski/go-diff has two obsolete commits but #46 might be interesting

[2016-11-01 18:47] zimmski commented on #38
https://github.com/ardagnir/go-diff was fully merged with #27

[2016-11-01 18:56] zimmski commented on #38
https://github.com/casualjim/go-diff has a commit which fixes test stuff which got fixed upstream and does no-escaping for Patch.String. Asked why.

[2016-11-01 18:57] zimmski commented on #38
https://github.com/dannyyoo/go-diff got merged with #15

[2016-11-01 19:01] zimmski commented on #38
https://github.com/djgilcrease/go-diff/commits/use-QueryUnescape-instead-of-custom got rejected with #24

[2016-11-01 19:05] zimmski commented on #38
https://github.com/eruca/go-diff had commit for the testify migration

[2016-11-01 19:07] zimmski commented on #38
https://github.com/gordonklaus/go-diff/tree/no-reflect got obsoleted with #39

[2016-11-01 19:14] zimmski opened #47 "Add a default DiffMatchPatch object"
Most people do not need their own instance of DiffMatchPatch since they do not change the default values. So let's make all the exported methods available by adding a default DiffMatchPatch instance and exporting functions using that instance.

@sergi What do you think?

[2016-11-01 19:26] zimmski commented on #38
https://github.com/h8liu/go-diff as LOTS of refactoring commits, but there are a lot of things I do not agree with. So maybe just contact him/her after #43

[2016-11-01 19:51] zimmski commented on #38
https://github.com/hailocab/go-diff cherry picked from https://github.com/casualjim/go-diff the no-escaping fro Patch.String and then just updated with the latest changes, so might be using it internally somewhere.

[2016-11-01 20:09] zimmski commented on #38
https://github.com/lsjeng/go-diff simply updated its fork once

[2016-11-01 20:16] zimmski commented on #38
https://github.com/omakoto/go-diff rejected with #16

[2016-11-01 20:19] zimmski commented on #38
- https://github.com/op/go-diff/commits/index-oob closed with #6
- https://github.com/op/go-diff/commits/readme merged with #8
- https://github.com/op/go-diff/commits/unicode-boundaries merged with #7

[2016-11-01 20:20] zimmski commented on #38
https://github.com/osman-masood/go-diff merged with #3

[2016-11-01 20:21] zimmski commented on #38
https://github.com/roryflynn/go-diff merged with #19 over #37

[2016-11-01 20:23] zimmski commented on #38
https://github.com/shatrugna/go-diff/commits/overlap_fix merged with #32

[2016-11-01 20:26] zimmski commented on #38
- https://github.com/shawnps/go-diff/commits/patch-1 merged with #22
- https://github.com/shawnps/go-diff/commits/patch-2 closed with #23
- https://github.com/shawnps/go-diff/commits/master closed with #25

[2016-11-01 20:31] zimmski commented on #38
https://github.com/wurkhappy/go-diff/commit/2d125743d39985be1b7f0a3f18c5e72fde7c1c0e adds a function which creates a set of words inside of two texts. That is not really go-diff relevant afaik.

[2016-11-01 20:38] zimmski commented on #38
- https://github.com/rwcarlsen/go-diff/commits/assert part of #2
- https://github.com/rwcarlsen/go-diff/commits/convert must admit I am lost on this one
- https://github.com/rwcarlsen/go-diff/commits/iface looks like some refactoring
- https://github.com/rwcarlsen/go-diff/commits/refactor merged with #2

[2016-11-01 20:38] #38 closed

[2016-11-01 20:39] zimmski commented on #38
@sergi FYI if you interested what the go-diff forks did ;-)

[2016-11-01 22:39] zimmski commented on #46
https://gist.github.com/zimmski/bdf2419c78b54abf944c145deb23d2b9 concatenating once gave a very small edge to the copy version, reusing the slice gave a huge edge to the append version.

[2016-11-02 15:33] #46 closed

[2016-11-02 16:06] zimmski opened #49 "The documentation is lacking examples"
go-diff is currently lacking examples for each exported function and method. This would not only help other users but make the whole project a lot better and complete.

[2016-11-02 17:12] zimmski commented on #33
@client9 could you please take a look at #50. It is the first step of refactoring the repository since I am pretty much done with everything else.

[2016-11-02 17:14] zimmski commented on #43
Updating the README is #50

[2016-11-02 17:26] zimmski opened #51 "Rethink the repository title"
The current repository title just says "Port of Google's diff-match-patch library to Go" which does not say anything about the functionality of the repository, if you do not know the original. I therefore propose changing the text to something like "Diff, match and patch text in Go".

[2016-11-03 21:38] zimmski opened #54 "Investigate and implement commonSuffixLength binary search"
There is a TODO marker in the code for a binary search version of commonSuffixLength.

[2016-11-03 22:46] #43 closed

[2016-11-06 23:33] shurcooL commented on #21
Sure. But first, let me just mentioned how I expected this issue to be resolved. As you mentioned, invalid UTF-8 is quite rare, and I would argue there's a good chance it's better to make it something that `go-diff` does not deal with. It can be taken care of in pre-processing, before calling `go-diff` funcs.

So, if that's the approach you choose to go with, this issue can be resolved simply by d

[2016-11-06 23:52] shurcooL commented on #21
I'll post my thoughts below.

That makes sense to me.

Can you elaborate on how it'd be documented? I think this would be good, yeah.

Makes sense, I agree. I don't think you should try to change that.

Hmm. I think this sounds good. I'm not sure how easy the "Transform the result back to the original invalid code points using the original two byte slices" step is. But I'm not very familiar with t

[2016-11-09 22:16] #51 closed

[2016-11-19 00:37] tirithen commented on #49
Agreed, I'm rtying to create a gnu patch string and then beeing able to apply it at a later stage gut can't seem to understand how to do this:
[code]

[2016-12-01 22:28] zimmski commented on #49
@tirithen: Maybe we should open a new issue for your question, but do you mean PatchMake?

[2016-12-02 04:05] tirithen commented on #49
I wanted a way to create a diff/patch string and then I wanted to be able to apply that string. I could not understand how to do this full cycle of diffing and patching

[2016-12-02 07:41] zimmski commented on #49
You can for example do that like so:
[code]

[2016-12-02 09:31] tirithen commented on #49
Super! That seem to be it! ;D Got a bit lost in all the methods.

[2016-12-02 10:08] zimmski commented on #49
Yeah, I will partly fix this with #53. Would you be interested in helping me out with the examples? I only have so much time to work on OSS so I would highly appreciate some help.

[2016-12-02 16:20] zimmski opened #55 "Bring coverage up to 100% line coverage"
There are some lines that still do not have test cases https://coveralls.io/github/sergi/go-diff It would be nice to bring the coverage up to a real 100% and then stay there by making decreasing coverage a PR failure.

[2016-12-02 16:31] zimmski opened #56 "Refactor the whole code"
dbcb93d0978fc2b45eaf7be0ba3bc2e780bb57e3 started to refactor the code. There is a lot to do but I do not have the open OSS ours right now. This needs to be done in small iterations. This issue keeps track on what is already done.

- [ ] min
- [ ] max
- [ ] indexOf
- [ ] lastIndexOf
- [ ] runesIndexOf
- [ ] runesEqual
- [ ] runesIndex
- [ ] DiffMatchPatch.PatchAddContext
- [ ] DiffMatchPatch.PatchM

[2016-12-02 16:47] zimmski opened #57 "Implement the Unified Format"
Implement reading and writing http://www.gnu.org/software/diffutils/manual/html_node/Unified-Format.html

[2016-12-02 16:48] zimmski opened #58 "Implement the Context Format"
Implement reading and writing http://www.gnu.org/software/diffutils/manual/html_node/Context-Format.html

[2016-12-02 16:56] zimmski commented on #45
I will close this issue because the fields would add to the API and that is not worth it since people who really need different colors can simply reimplement these few lines. Red/Green are sane enough default colors for this functionality.

[2016-12-02 16:56] #45 closed

[2016-12-02 16:59] zimmski commented on #47
I changed my mind. This would just add to the API. The `New` constructor gives sane defaults and it is after all just one additional call for the user but we would need to maintain the API "forever".

[2016-12-02 16:59] #47 closed

[2016-12-02 17:33] zimmski opened #59 "Have a look at go-difflib"
Have a look at https://github.com/pmezard/go-difflib and add everything that is implemented in go-difflib but missing in go-diff as an issue.

[2016-12-02 18:11] zimmski opened #60 "Implement DiffMainBytes"
Which is described in https://github.com/sergi/go-diff/issues/21#issuecomment-257628261

[2016-12-02 18:12] zimmski commented on #21
Since I am currently short on time I will open an issue for the implementation of DiffMainBytes and will just document the behavior for now.

[2016-12-02 19:46] #21 closed

[2016-12-03 12:17] maksimov opened #62 "lint.sh is broken on macOS due to cat -n behavior"
I've been following the contributors' guide and I couldn't get past `make lint` command as it was giving an error on a vanilla source code. One of the issues is with testing the output of the likes of `golint` where it is expected to be empty. However `echo -n "$OUT"` printed out `-n` instead of nothing, which was then considered as an error condition.

I've tested a substitute command `echo "$OUT

[2016-12-03 12:50] maksimov opened #64 "lint.sh is broken on macOS 10.8+ due to a different version of grep"
OSX have switched from GNU grep to BSD grep in version 10.8 and for this reason `grep -P` is no longer supported.

There is a workaround to install pcre grep, which will install GNU grep and -P will work again:
`brew install grep --with-default-names`

Another solution is to change `grep -P` to a relevant perl command, details can be found [here](http://stackoverflow.com/questions/16658333/grep-p-

[2016-12-03 12:56] zimmski opened #65 "Add a CI builder for MacOSX"
I know that TravisCI has MacOSX support, but I did not look into that yet.

[2016-12-03 12:56] zimmski opened #66 "Add a CI builder for Windows"
I do not know of any free Windows CIs. So this is a very open question for me.

[2016-12-03 13:08] maksimov commented on #65
I can look into this, but do you think I can use a workaround from #64 there or do you want to fix it properly with perl or some other way?

[2016-12-03 13:15] zimmski commented on #62
If you put "Fixes #62" in the commit description of a commit, the issue gets automatically closed if the PR is merged.

[2016-12-03 13:15] #62 closed

[2016-12-03 13:17] zimmski commented on #65
I would prefer grep instead of perl because I am not sure if perl is included in every OS, especially if this should work under Windows too.

[2016-12-03 13:19] maksimov commented on #65
Gotcha. I will have a look for other possible ways to do it with grep to avoid workarounds, but should they be unavoidable I'll go with that. Thanks.

[2016-12-03 13:47] zimmski commented on #64
I see that "-E" is supported as well, let's go with that?

[2016-12-03 13:54] maksimov commented on #64
Yep, it seems to work. 👍
I've only tried `-e` so far and it didn't.

[2016-12-03 14:06] zimmski commented on #64
`-e` is the argument for the search pattern itself, `-E` is to select the matcher which interprets those patterns. I am glad that this works with MacOSX I have no way of testing with that OS :crying_cat_face:

[2016-12-03 15:11] #64 closed

[2016-12-03 15:35] #65 closed

[2016-12-03 15:42] maksimov commented on #55
I'm learning Go and I thought the best way to do it would be to improve some tests. I brought coverage up a notch from 99.3% to 99.4%, but then I started experimenting with a test for patch.go:546 and I've added this test-case (_never mind the expected value, I was going to correct it_):
`{"@@ -0,0 +0,0 @@\n+abc\n", "Bad patch mode"} `

Now my test fails like this:

[code]
Do you think it's a genu

[2016-12-03 16:09] maksimov commented on #55
Yes, I guess it's my test case. The panic is in the test code.

[2016-12-03 16:11] zimmski commented on #55
I did not try it but when I guess that the test panics because "err" is nil so the "Error" call fails because of that. I think it is NEVER silly to improve a project ;-) To be honest, if you are just learning Go it would be more fun to write new code than adding test cases. Finding test cases for this project is especially hard, there aren't many instances left and the easy ones are already gone.

[2016-12-03 16:14] zimmski commented on #55
Maybe https://github.com/sergi/go-diff/issues/54 is more fun since you would write new code, must test it, and then have to benchmark your solution. The marker is here https://github.com/sergi/go-diff/blob/431343a89a2ec4ea8168b3ee3d7a96169f6ff605/diffmatchpatch/diff.go#L459 But beware that if the solution has a bad benchmark, we cannot merge it.

[2016-12-03 16:22] zimmski commented on #55
I looked through the open issues and I think https://github.com/sergi/go-diff/issues/49 could be also mildly interesting since the whole project is missing example for every exported API endpoint. #57 and #58 could be also interesting, at least there is new code involved. However, if you are just learning Go I am a little lost on what might be the most interesting and easiest issue for this projec

[2016-12-03 16:24] maksimov commented on #55
Thanks very much for your help, @zimmski! I'll try a few things and see how I get on.

[2016-12-03 16:38] maksimov commented on #66
Have you looked at https://www.appveyor.com/?

[2016-12-04 08:12] h8liu commented on #59
some drive-by notes:

difflib is ported from python difflib, and it is a basic line diff. where diffmatchpatch seems to have no explicit line diff output. I don't think diffmatchpatch even split the strings into lines first.

fwiw, I did some cleanup on both libs on my own (see https://github.com/shanhuio/third).

just curious, how did you get the ownership of this repo?

[2016-12-04 09:46] zimmski commented on #66
No, but it looks promising. I am a little lost when it comes to Windows but IMHO go-diff must only compile and pass the tests on other OSs. I did a small search and these are maybe good resources to get started:
- https://blog.markvincze.com/setting-up-an-appveyor-pipeline-for-golang/
- https://github.com/joefitzgerald/go-plus/blob/master/appveyor.yml
- https://github.com/oschwald/maxminddb-golang

[2016-12-04 10:04] zimmski opened #69 "Implement a line-by-line diff output"

[2016-12-04 10:25] zimmski commented on #59
That is right, go-diff does not split the processed strings. I did not yet have a chance to look at the algorithms of go-difflib (e.g. SequenceMatcher). Is it worth to take a look?
I guess that means that at least #57, #58 and #69 have to be fully implemented, or did I miss something?

I saw your fork when I went through every fork of go-diff #38. I did not include any changes of yours because the

[2016-12-04 13:53] h8liu commented on #59
It has some interesting stuff on marking junks, besides that, it is a relatively standard one. dmp is more complicated.

for unified and context format, difflib implements the marshalling to the output, but not the unmarshaling from an input. it does not have a patcher.

not really interested on a pull request. many of my changes (function renaming) will break other downstream packages.

this repo

[2016-12-04 17:48] zimmski commented on #59
Then I will simply close this issue since everything that should be implemented has an open issue.

We (@work) are doing a lot of diffs (mostly for source code) and I do not want to call external tools all the time. The reason why I am maintaining this now is that it is annoying when you hit bugs and you see that they are fixed upstream but the original author has moved to other projects. IMHO eve

[2016-12-04 17:48] #59 closed

[2016-12-05 08:01] zimmski opened #71 "Check for the exact error class in all tests"
Checks like the following must be refactored
[code]

The problem is that we only check that the error is not nil, but we do not check for the error class. This means that any error lets the test pass even though it is possible that it was the wrong error.

One way to test for the error class is to simply check if assert.Contains if a part of the error string can be found. Another one is to add spe

[2016-12-05 14:48] maksimov commented on #71
Found this a little odd when I was extending the tests. I might have a swing at that.

[2016-12-23 14:13] silvergasp commented on #66
I have implemented a config file for appveyor, you will just need to open an account with appveyor and it should find the file and start a build. Currently builds and tests are working however, lint is not working as it relies on a *nix shell. See Pull request [here](https://github.com/sergi/go-diff/pull/74)

[2017-03-01 23:33] gwelymernans opened #75 "Non-deterministic Behavior when Run in Multiple Goroutines"
I'm seeing non-deterministic behavior when I run `dmp` in multiple goroutines. Basically, the "diffs" generated by `DiffMain()` should be identical no matter how many goroutines are run, but they differ. I'm going to try my best to see if I can find the cause, but you might have a more deeper understanding of what's going on. :-)

Here is the code (also attached as a file):

[code]

[d.go.txt](htt

[2017-03-02 00:14] gwelymernans commented on #75
Note: You may need to increase the number of goroutines to 1000 or so.

[2017-03-13 18:32] gwelymernans opened #77 "Converting between string and []rune takes a long time"
Consider the program below. The program runs slowly. Part of it is due to encoding and decoding between strings and runes. Roughly 1860ms out of 4050ms is spent doing this:

[code]

It should be possible to work on one representation during the algorithm to avoid this overhead.

(Note: This has non-deterministic behavior that was reported in #75.)

[code]

[2017-04-09 07:05] #71 closed

[2017-04-09 07:14] zimmski commented on #55
@maksimov I think with your changes the bar has been raised high enough to close this issue

[2017-04-09 07:14] #55 closed

[2017-04-09 13:24] zimmski commented on #66
I think I do not have enough rights for this. Will have to ask @sergi

[2017-04-09 14:01] zimmski commented on #75
Needed 10000 goroutines to get a missmatch (and needed to changed the expected data, are you running the latest version?) :+1:  However, this should be expected under load because of the timeout argument that is set to one second by default. Please add the following to your example. If you are still getting mixed results we should have serious look at this.

[code]

Maybe we should change the defa

[2017-04-09 14:01] #75 closed

[2017-04-09 14:23] zimmski commented on #77
It is true that the code code be optimized a lot, woud you like to work on that? I can reproduce your profile with your example. However, if i set the the diff timeout (I mentioned that in your other issue) the profile changes to the following. (btw Which version of Go and architecture are you using?)

Go 1.7.1 (amd64)
[code]

and Go 1.8.1 (amd64)
[code]

[2017-04-09 16:22] maksimov commented on #54
I've tried it here:
https://github.com/maksimov/go-diff/blob/binary-suffix-tests/diffmatchpatch/diff.go#L481
There is a benchmark method here:
https://github.com/maksimov/go-diff/blob/binary-suffix-tests/diffmatchpatch/diff_test.go#L1450
Benchmark results are as follows:
[code]

[2017-04-10 04:08] gwelymernans commented on #75
Ah! A timeout might explain things. I updated to the latest version after filing this, but I still had the same issue (as you discovered, you have to set it to over 10000). Anyway, I'll try the timeout setting. Thanks!

[2017-04-10 04:10] gwelymernans commented on #77
I think the version of Go is 1.8 on an amd64 machine. I can try to work on performance. If you have any points that would be a good place to start, please let me know. :-)

[2017-04-10 08:25] zimmski commented on #54
The benchmark looks amazing! :+1:  Have you found out why this was commented out?

Let's submit this as a PR and work in the PR on it. Some initial thoughts:
- Use "runesEqual" instead of the "DeepEqual" (its in stringsutil.go). I think this should give this another boost.
- Let's find two or three constant strings for the benchmark instead of random strings. Otherwise there is no way to compare t

[2017-04-10 08:26] zimmski commented on #75
Please let me know how it went

[2017-04-10 08:51] zimmski commented on #77
You can find out which architecture you are on using `go env`.

I would suggest to first add more benchmarks. We already have some basic benchmarks but it is sometimes hard to compare the impact of changes with them. The most interesting function (as you might have guessed) is "DiffMain" which uses almost everything of the diff code. @maksimov is working on "commonSuffixLength" (and maybe the pref

[2017-04-12 06:17] gwelymernans commented on #75
It didn't go well. Setting `dmp.DiffTimeout` to 0 made it run indefinitely. I'm not so sure it matters though, because it takes so many goroutines to have it show.

[2017-04-12 06:19] gwelymernans commented on #77
My "go env" is this, but we run the build in parallel on many different machines and the version of go that uses might not be the same as on my desktop.

[code]

[2017-06-19 05:06] shota-makino opened #79 "Exporting Patch fields"
Is it possible to expose the Patch struct fields? It would be useful to have the start1 and start2 fields to feed to Match functions.

[2017-10-11 09:10] gino4 commented on #79
Is this issue being looked at?
I would also like to have the fields exported as I want to use them outside for analysis purposes.
Or can I update it and create a pull request?

[2017-11-02 03:07] bronze1man opened #84 "lack document of DiffDelete/DiffInsert."
From the document of DiffMatchPatch.DiffMain:
https://github.com/sergi/go-diff/blob/master/diffmatchpatch/diff.go#L49
[code]

So what is the mean of DiffDelete ?
Is DiffDelete mean that text1 do not have this content and text2 has this content? or text2 do not have this content and text1 has this content?

The user can do the experiment to find out that text1 is the old version ,and the text2 is t

[2017-11-04 09:03] zimmski commented on #79
#82 implemented this issue.

[2017-11-04 09:03] #79 closed

[2017-11-09 00:03] josharian commented on #54
Sorry to be the bearer of bad news, but the benchmark is seriously flawed. Due to the way the rune slices are constructed:

https://github.com/maksimov/go-diff/blob/f425388e4c0a50f84a09b809bab2d1e9f2d2f18d/diffmatchpatch/diff_test.go#L1442-L1445

the runes slices are identical, not just in their contents but also their backing array. (Observe that in `s2 := append(s1[n:], 't')`, `s2` is set up to

[2017-11-09 12:14] maksimov commented on #54
Thanks @josharian! It's true I haven't been active myself, but I think you still should send your patches (especially if you already have them!)

[2017-11-22 17:06] leoleovich opened #86 "diffutils replacement"
Hi there,
thank you for an awesome project.
Is there recommended set of functions to replace command line tool - `diff` and diffstat?
Something, which gives output like this:
[code]
As I am playing with `dmp.DiffMain(test1, test2, true)` and try to pass entire files as string, I get very different output, than I expect:
[code]

The test files look like this:
test1:
[code]
test2:
[code]
Thanks in a

[2017-12-06 16:33] kyoh86 opened #87 "why is the body of the patch excaped with %xx notation?"
Is it specification of the GNU diff?
I want get simple diffs like below.

[code]

But in fact, I'll get below.

[code]

[2017-12-21 08:59] ybbus opened #88 "Please use semver tagging"
See: http://semver.org/

Helps a lot when using go package management tools like https://github.com/golang/dep

Thanks

[2018-01-16 08:31] krylovsk opened #89 "Index out of range panic in DiffCharsToLines on large JSON diff"
I've encountered this issue while using https://github.com/src-d/go-git, but the bug is easily reproducible with the code snippet below and the JSON file in attachment.

[code]

Output:

[code]
[data.txt](https://github.com/sergi/go-diff/files/1634162/data.txt)

[2018-01-25 14:36] sergi commented on #88
Done! Released v1.0.0

[2018-01-25 14:36] #88 closed

[2018-01-25 15:02] #54 closed

[2018-02-09 10:21] Aaron3 opened #91 "Is it possible to prefer single line changes instead of multi-line?"
When diffing JSON, we have some json like:
[code]
If we compare to
[code]

We end up with:

![image](https://user-images.githubusercontent.com/2073168/36022721-b54d6cca-0d92-11e8-9f12-8085fe3328ec.png)

It would be nice to be able to prefer full-line or full word changes instead of single-character changes.

If you change the word "hello" to "goodbye", you see the diff as:

`[{Delete hell} {Insert

[2018-02-13 22:23] NeilFraser opened #92 "DMP now on GitHub"
I'm the maintainer of DMP and just stumbled across this project.  After hosting us for ten years, the original repo at Google Code has shut down and the project has moved to https://github.com/google/diff-match-patch.  You probably want to update the corresponding links on your project.

However, a bigger question is whether go-diff should be a separate project, or whether it should be incorporate

[2018-02-27 09:25] hriddhidey commented on #92
As a dev who is using this library both in Java (provided by DMP project), as well as Golang (this project), I'd deeply appreciate it being brought into the fold of the DMP project. After all, Golang being close to Google's heart, one would expect an implementation being a part of the original project.

[2018-02-27 14:08] sergi commented on #92
Hi @NeilFraser, @hriddhidey and thanks for your input.

It is great that DMP is now back on Github! Good to see it being active again.

I have to say I don't see a strong reason for go-diff to be put in the same repo as the remaining DMP implementations. In fact, what makes more sense to me is to separate existing languages in DMP in their own repo and keep DMP as an API that different implementat

[2018-02-28 05:51] hriddhidey commented on #92
Those are really valid points @sergi and have forced me to reconsider. But having said that, a unification of API standards and bug-free implementation would probably occur more seamlessly through collaboration between both you and @NeilFraser. Currently, as I try to interface the golang diffing with patching in Java, there are bugs such as randomly missing white-spaces and the occasional missing

[2018-03-14 20:17] 7AC opened #93 "Type for Diff.Text"
The current type for `Text` is `string`:

[code]

When I call `DiffMainRunes()` though looks like the `Text` in each diff needs to be interpreted as a `[]rune`. Is there a reason not to define that as `[]rune` (or use multiple types if it's used differently in other APIs)? It was hard to interpret since `Text` is not printable in this case, and the documentation doesn't mention this.

Here's my co

[2018-05-17 21:06] derekperkins commented on #92
You could get most of the standardization advantages by porting the source tests and updating them as they change.

[2018-09-22 13:44] clafoutis42 commented on #89
Hi, I've also met this issue while itering on large repositories (wanting to analyze diffs) with github.com/src-d/go-git
@krylovsk did you manage to find a workaround  ? (I guess the problem is the same, it might be a large diff, and as I was testing this in linux git repository, it is hard and very long to reproduce)

[2018-09-25 17:37] zricethezav commented on #89
Bumping, running into this problem when running audits with https://github.com/zricethezav/gitleaks

[2018-09-27 14:57] krylovsk commented on #89
@clafoutis42 no sorry I haven't figured that one out. Eventually I switched to https://github.com/libgit2/git2go

[2018-10-10 08:37] dmjones opened #95 "What is the checklines parameter?"
The docs for `DiffMain` and `DiffMainRunes` don't explain what the `checklines` parameter is used for.

Digging through the source, it looks like this has an impact on how the diff is calculated, if the input is large enough. But I'm unclear the pros and cons for choosing this.

Happy to make a PR to update the documentation if someone can advise on the use?

[2018-11-30 18:59] mingrammer opened #96 "DiffMain does not show deleted space"
[code]

I expected the diff output results for above code to be one of `pPackagecCasec` or `pPackage[x]cCasec`, but it printed `pPackage cCasec` instead. (`[x]` indecates a space letter with red background)

So it is a little hard for me to recognize the `space` was deleted or not. I think `DiffMain` also should show the status of added or deleted `space` letters. I think it could be achieved usin

[2018-12-03 07:56] nihlaakram opened #97 "Inconsistent results when the patches have special characters"
When the patches have special characters such as %, > and < , inconsistent patch status is returned by PatchApply()

[2019-05-09 09:11] ernierasta commented on #97
Hi, I know almost nothing about this library, but from what I tested, those symbols will not occur in patch if You use `DiffMain` and then `PatchMake` functions. they will be converted to:
%25, %3E and %3C in patch string.

If you are creating patch in some different way maybe consider converting those chars to given values.

[2019-05-20 16:09] vmarkovtsev commented on #89
We encountered the same problem at source{d}, and @mcuadros is currently debugging the problem and looking for the fix.

[2019-05-20 16:14] mcuadros commented on #89
I limited the scope of the problem with one file (64k lines), it contains serveral language from Thai Script to Arabic.

This is the fixture: https://gist.github.com/mcuadros/6369103d4838a9042613596ee212f32c#file-fixture-go

And the code to replicate the issues is:
[code]

[2019-05-20 16:17] mcuadros commented on #89
The problem looks the same described at https://github.com/sergi/go-diff/issues/4, so looks like the solution implement at https://github.com/sergi/go-diff/pull/7, was a partial solution.

//cc @sergi

[2019-05-23 14:00] Corefracture commented on #89
Anyone know if @sergi is still active? I was hoping to submit a PR for this fix (unless someone else is or has a fix). I'm running into this now consistently :(

[2019-05-26 07:46] mcuadros commented on #89
We are not working on it right now, so if you want to fix it go ahead, this
will be great.

On Thu, May 23, 2019, 4:00 PM Corefracture <notifications@github.com> wrote:

[2019-08-01 12:01] #92 closed

[2019-08-01 12:04] sergi commented on #95
From Java docs:

It would be great if you update the documentation with its definition!

[2019-08-05 04:06] shawnps-sigsci opened #101 "Tag new release?"
Hi, would it be possible to get a new tagged release? There are quite a lot of changes in master which aren't in a release:

https://github.com/sergi/go-diff/compare/1744e2970ca51c86172c8190fadad617561ed6e7..da645544ed44df016359bd4c0e3dc60ee3a0da43

Thank you for making this library!

[2019-08-20 07:01] r-pai commented on #89
I too faced the issue and had a look on why the issue is occurring. I was able to know what the issue  but for the fix its not that easy as you need to know most of the logic. Its better people who wrote it can fix it better than me.

Please have a look on this example.
Here is a sample code of what happens when a rune array is converted to string and back to rune array.  Sample: https://play.gola

[2019-08-21 03:17] shawnps-sigsci commented on #101
Hello, any thoughts on this?

[2019-10-18 01:20] 7AC commented on #93
This is actually worse than it seems as with long diffs the indices end up outside the range of unicode characters, resulting in a bunch of `65533` in the diff which doesn't match anything. So basically the library is only usable as long as the length of the diff is shorter than the range of unicode characters.

[2019-10-29 13:29] qzaidi opened #102 "runtime error: index out of range while processing diff"
Hi,
I am not using this library directly, but via another package (go-git). I have found that in certain cases, there is panic on this line

https://github.com/sergi/go-diff/blob/da645544ed44df016359bd4c0e3dc60ee3a0da43/diffmatchpatch/diff.go#L452

At the time of panic, the values are

1 iteration ago: i=179592 r=55295 len(chars)=190439 len(lineArray)=58902
next iteration: i=179595 r=65533 len(cha

[2019-11-14 11:46] r-pai commented on #102
Duplicate of #89

[2019-11-19 14:23] sergi commented on #89
Hi folks,

Sorry about the silence. I'm back and I'll be looking into this issue soon, but I'd definitely appreciate it if one of you wants to contribute a PR to it.

[2019-11-19 14:24] sergi commented on #102
Please follow the discussion in #89

[2019-11-19 14:24] #102 closed

[2019-12-22 22:29] sergi commented on #101
Done, now at v1.1.0

[2019-12-22 22:29] #101 closed

[2020-01-23 16:11] mingrammer commented on #69
any update?

[2020-02-05 09:04] brunoluiz commented on #91
Have you had any luck on doing this with the actual library?

[2020-02-10 23:10] wcevans commented on #91
Try using `DiffCleanupSemantic`. That seems to give the result you are looking for: https://play.golang.org/p/G5QUQZifL-2

[2020-02-26 11:20] ronhab commented on #89
Hi all,

tl;dr I have a solution for this issue, but it requires lots of changes and also increase memory consumption by a factor of 2-4.
You can find it [here](https://github.com/ronhab/go-diff/tree/FixCrashUsingDiffChar).

Long analysis:
As @r-pai described, the issue is caused due to the limit on the values a `rune` type can hold.
So, we need to change the "character" type passed to the diff fu

[2020-02-26 11:28] ronhab commented on #89
For comparison, here are the benchmark results on both current master and my branch (running on my Windows 10 Intel i7-6700HQ laptop):
current master -
BenchmarkDiffCommonPrefix-8          	 5675502	       222 ns/op	       0 B/op	       0 allocs/op
BenchmarkDiffCommonSuffix-8          	 5783984	       199 ns/op	       0 B/op	       0 allocs/op
BenchmarkCommonLength/prefix/empty-8 	249642283

[2020-05-13 19:20] vbisbest opened #109 "How to tell percent different"
Thoughts on determining how different two files are?  Say we compare file1.txt to file2.txt and I would like to see that they are 90% similar.   Is that something I can determine with this current library or something that would need to be added?  Thanks!

[2020-05-23 11:46] nepsilon opened #110 "New line characters removed after applying patch"
**Code used:**

[code]

**Output:**
[code]

**Expected Output:**
[code]

* Go playground example: https://play.golang.org/p/BBmG1QRWbjx

Is there a way to apply the patch to conserve the new line `\n` characters?

[2020-06-05 02:25] nepsilon commented on #110
@sergi I tried to look at test cases and finding ways to avoid the `\n` deletions but I couldn't figure it out. Do you know why this is happening? Thank you!

[2020-08-07 23:08] eclipseo opened #111 "Go 1.15: conversion from int to string yields a string of one rune, not a string of digits"
Go 1.15 rc 1 on Fedora Rawhide
[code]

See https://github.com/golang/go/issues/32479

[2020-08-08 02:33] #110 closed

[2020-09-08 03:51] mgale commented on #69
I came across this issue also looking for a line by line output or maybe a unified view.
I was able to meet my requirements after reviewing: https://github.com/google/diff-match-patch/wiki/Line-or-Word-Diffs and following the example there but in go-diff:

sample code:
[code]

Then using the dmp.DiffPrettyText(diffs) output I can see entire lines are being replaced, which is easier to read. I thin

[2020-09-08 04:01] mgale commented on #69
I didn't realize it at the time but it also improves the PatchToText output:
[code]

[2020-09-18 15:41] zegkljan commented on #87
Has there been any progress on this? Is it possible to turn off this escaping?

[2020-10-09 14:12] alvardes commented on #87
I have also encountered this problem. The generated patches are incorrect because of the URL escaping the lines.

It seems that the escaping is done because "google does it like this" in some of their library: https://github.com/sergi/go-diff/pull/24#issuecomment-257103612

[2020-10-10 05:26] kyoh86 commented on #87
@sergi Is this project dead?

[2020-10-10 06:37] sergi commented on #87
No, not dead. It's complete. The behavior above is consistent with Google's diffmatchpatch library, which this library is based on.

[2020-10-10 06:42] sergi commented on #87
That being said, I admit I need to do some maintenance and probably release a new version during this weekend!

[2020-10-10 06:44] #97 closed

[2020-10-20 11:06] #111 closed

[2020-11-25 15:02] habdank opened #114 "DiffPrettyText in windows cmd prints garbage"
I had tested your library. It works very well. However I see that basic functionality means "DiffPrettyText" works well in color console, but in windows command line is producing garbage.

[2020-11-26 10:24] habdank commented on #109
IMHO this is not precisely defined requirement. What means files have 0%, 50% or 90% similarity?
Generally the library provides you very good metric, which is Levenstein distance.
With this one you can measure how documents differs.

[2020-12-01 17:32] stamblerre commented on #89
We just ran into this in the Go language server ([`gopls`](https://golang.org/s/gopls)): https://github.com/golang/go/issues/42927. Is anybody working on a fix?

[2020-12-01 17:40] sergi commented on #89
Hi @stamblerre, I have a potential fix for this that I plan to apply later today if all tests pass.

[2020-12-01 17:57] stamblerre commented on #89
Awesome, thank you for the quick update!

[2020-12-01 23:41] #89 closed

[2020-12-03 01:06] stamblerre commented on #89
Thank you for the quick fix on this, @sergi! Do you plan to tag a new release with this fix?

[2020-12-04 23:10] stamblerre opened #115 "diffmatchpatch: invalid diff output with CRLF line endings"
I believe the fix for https://github.com/sergi/go-diff/issues/89 introduced regressions for files with `\r\n` line endings. This reproduces as of commit https://github.com/sergi/go-diff/commit/db1b095f5e7c905e196ff6bfd56189a41aa76309.

The following repro program illustrates the issue. It compares two strings, whose only differences are line endings. (This was caught by a `gopls` test in https://g

[2020-12-30 19:51] crthpl opened #116 "Whitespace does not get shown with DiffPrettyText"
it would be helpful if whitespace was shown. It could be shown with a Coloured background. Newlines could be shown as `\n` (although only if it is changed?)

[2021-01-12 17:45] noxora opened #117 "Index out of range error, would like help investigating"
It might be better for me to bring this to go-git, but I'm unsure, so I figured I'd come here first

[code]

The above stack trace was the result of calling `change.Patch()` in go-git, which eventually calls y'all.
The function is here, and you can switch to the master branch to step through the functions https://github.com/go-git/go-git/blob/db6c41c156481962abf9a55a324858674c25ab08/plumbing/objec

[2021-01-21 17:54] atrakh commented on #117
Hi, we've also noticed this issue on `go-diff@v1.1.0` paired with `go-git/v5@v5.1.0`: https://github.com/launchdarkly/ld-find-code-refs/issues/140

It looks like some changes were recently committed to potentially resolve this issue -- @sergi any chance you could release a new tag for the latest version so we could send it downstream?

[2021-02-18 15:39] timbunce commented on #87
I've just encountered this problem as well. Would you accept a PR for it @sergi?

[2021-03-20 05:19] Ortega-Dan commented on #117
Hi.
Is there going to be a new release, as asked before ?

[2021-03-29 10:18] LoRexxar opened #118 "how to only show different part?"
just like

![image](https://user-images.githubusercontent.com/12526901/112822934-2c36b900-90bb-11eb-9a9c-8ad972115fd2.png)

[2021-03-30 20:56] sergi commented on #117
v1.2.0 has been released, apologies for the delay.

[2021-03-30 20:56] #117 closed

[2021-03-30 21:00] sergi commented on #109
I agree with @habdank. Providing the percentage of difference is beyond the scope of this library.

[2021-03-30 21:00] #109 closed

[2021-04-06 04:09] adityasaky opened #119 "Trying to match a long pattern fails"
Hello! I'm working with some longer pattern values, the value I'm currently testing has len(pattern) = ~800. I noticed that the line here: https://github.com/sergi/go-diff/blob/v1.2.0/diffmatchpatch/match.go#L57 causes an overflow beyond the length of the pattern being 64. I'm happy to help contribute fixes here if someone can point me in the right direction. Thanks!

[2021-04-09 10:06] wormi4ok commented on #116
Agree. I was puzzled for some time when nothing was highlighted in the `DiffPrettyText` output, even though the diff was not empty.

[2021-04-14 16:29] kyoh86 commented on #87
This may be dead project

[2021-04-14 16:53] sergi commented on #87
@timbunce I’d be happy to accept a PR if you’re still up for it!

[2021-04-14 19:23] timbunce commented on #87
Perhaps just document the current behaviour so it's not an unpleasant surprise, and suggest calling url.QueryUnescape() on the output. (I'm not sure if that's perfect workaround, but it's been sufficient for us.)

[2021-04-23 18:19] findleyr commented on #115
We've just discovered (in https://golang.org/issue/45648) that this probably affects code without CRLF line endings as well. We suspect that this is the cause of an uptick of user-reported formatting problems in gopls, starting around December, due to users installing gopls with `go get -u`.

Thank you @ShoshinNikita for working on a fix. Is there anything we can do to help get that reviewed and r

[2021-04-30 19:22] stamblerre commented on #115
I can confirm that this patch fixes the repro case provided in #115.

[2021-05-01 11:45] findleyr commented on #115
Thanks Rebecca.

Rebecca and I will be pairing on reviewing the change itself on Monday.

[2021-05-20 03:29] chenyahui commented on #118
You can filter out the DiffEqual items of item before pass the diffs to DiffPrettyHtml or DiffPrettyText

[2021-05-20 04:40] LoRexxar commented on #118
I think it’s best to select the display content by adding parameters, this can only be a temporary solution

[2021-07-01 15:31] Taark opened #121 "Get diff by words"
How to get get diff by words?
Example:
text1 := "some text"
text2 := "other text"
...
output []Diff:
{Delete: some}
{Insert: other}
{Equal: text}

P.S. Sorry for my English.

[2021-07-01 16:18] Taark commented on #121
Answer:
[code]

I apologize for the stupid question.

[2021-07-01 16:18] #121 closed

[2021-07-06 07:31] KevinWang15 opened #123 "[BUG] v1.2.0 seems to produce incorrect diff"
This testcase:

[code]

Will produce

[code]

In v1.2.0, which is incorrect.

In v1.1.0, it produces the correct diff of

[code]

[2021-07-14 09:20] leoswing opened #124 "Could an unified diff be output with go-diff?"
Could go-diff generate an unified diff? Like what git diff or linux diff do?

We highly desired to use diff2html to transform diff to html with a unified format

[2021-08-02 13:09] eastlondoner commented on #123
I'm seeing this problem as well. I had to revert to 1.1.0

[2021-08-16 17:55] mattysweeps commented on #115
What's the status of this?

[2021-09-13 02:37] peter-evans commented on #123
I also had this problem. All the examples I could find were producing garbage results until I found [this issue](https://github.com/go-git/go-git/issues/346) and realised that `1.2.0` was the culprit. Switched to version `1.1.0` and all seems fine.

[2021-09-16 05:29] KevinWang15 commented on #123
@sergi Please take a look when possible, as many other libraries are depending on this one, thanks!

[2021-11-16 11:38] schrej commented on #123
This was broken with https://github.com/sergi/go-diff/commit/db1b095f5e7c905e196ff6bfd56189a41aa76309 by passing a array to `diffLinesToStringsMunge` instead of a map.

Calling that function with multiple files, but passing the same array, now leads to duplicated lines for each file in the array, instead of re-using existing lines.

[2021-12-13 09:00] iambus opened #127 "panic: runtime error: slice bounds out of range"
[code]
[code]

[2022-01-16 20:41] vsoch commented on #115
I just ran into this too - about an hour of debugging because I thought I was crazy - I would write "the same" strings into a test program and they would be fine, but those from an environment were not. This must not be fixed because I used latest, so for others that need a quick solution what worked for me is to just strip any kind of newline:

[code]
And basically parse the strings with that bef

[2022-01-19 16:20] aymanbagabas commented on #123
Any updates here?

[2022-05-05 22:55] huguesalary commented on #123
I ran into this issue as well. Reverting to 1.1.0 fixes it.

[2022-05-29 15:21] uhthomas commented on #123
[code]

may be helpful to prevent an accidental upgrade with `go mod tidy` or `go get -u ./...`.

[2022-07-01 10:50] #93 closed

[2022-08-03 14:28] mwain opened #132 "PatchApply panics with slice bounds out of range"
The following code panics when using `PatchApply`

[code]

[code]

It looks like its finding the wrong start location here - https://github.com/sergi/go-diff/blob/master/diffmatchpatch/patch.go#L265
E.g: this prints 25...
[code]

[2022-09-17 02:14] twpayne opened #134 "Is this repo still maintained? Friendly fork?"
Thank you for this code. I'm a very happy user of `sergi/go-diff`, although I have to pin my use of the module to the latest working version, i.e. [`v1.1.0`](https://github.com/sergi/go-diff/releases/tag/v1.1.0).

Is this repo still maintained? There are many [open issues with no response](https://github.com/sergi/go-diff/issues), the most recent tagged version ([v1.2.0](https://github.com/sergi/g

[2022-09-22 17:48] vbonthaCW commented on #127
Any latest developments on this issue?

[2022-11-25 14:53] #87 closed

[2022-11-25 14:53] kyoh86 commented on #87
I'll use go-cmp instead. bye.